.guest-header{
    position: relative;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
   
}


.toggle-nav-guest{
    position: absolute;
    right: 14px;
    top:11px;
    padding: 6px;
    border-radius: 6px;
    background: white;
    &:hover{
        cursor: pointer;
    }
    div{
        width: 18px;
        height:3px;
        border-radius: 50px;
        background: rgb(167, 166, 166);
        margin-top: 3px;
    }
}

.flex-between-desktop2{
    display: none;
}
