.logo-wrapper{
    width: 150px;
    margin: 0px auto 30px auto;

}

.explore-header{
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    background: #f2f2f2;
}

.welcome{
    font-size: 1.5rem;
}

.how-it-works-q{
    background:#f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.how-it-works-q+p{
    padding: 20px 30px;
    text-align: center;
}

.how-it-works-section{
    margin-top: 40px;
}

main.how-it-works{
    background: white;
    padding:40px 15px 70px 15px;
    h2{
        margin-bottom: 25px;
    }
}

.hit-q-holder{
    border: 1px solid #ddd;
}

.next-btn{
    margin-top: 50px;
    color: white;
    background: #36b9cc;
    border: 1px solid #36b9cc;
}