.inbox-summary{
    padding: 10px;
    .grid{
        display: grid;
        grid-template-columns: 35px auto;
        column-gap: 5px;
    }
    &:hover{
        background: rgb(238, 237, 237);
    }
}


.user-avatar{
    margin-top: -5px;
    border-radius: 50px;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: red;
    color: white;
}