.request,
.order-and-sale {
  background: white;
  padding: 15px 20px 35px 20px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 9fr;
  &:first-child {
    padding-top: 20px;
  }
}
.requests,
.orders-and-sales {
  box-shadow: 0px 0.15rem 1.75rem 0px rgba(58, 59, 69, 0.15);
  margin-top: 27px;
  border-radius: 7px;
}
.divider {
  margin-top: 20px;
  border-bottom: 1px solid #e3e6f0;
  width: 80%;
  margin: 0px auto;
}

main.request-page {
  padding: 15px 15px 30px 15px;
}

.send-offer {
  background: #415478;
  display: inline-block;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
}

.recommended-fix-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
}
.a-recommendation {
  background: white;
  padding: 10px;
  // margin: 10px;
  border-radius: 7px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.grid-responsive-6 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 25px;
}

.recommended-image-wrapper {
  height: 90px;
  overflow-y: hidden;
  object-fit: cover;
  border-radius: 6px;
  max-width: 90px;
  img {
    height: 100%;
  }
}

.recommendations {
  margin-top: 50px;
  h2 {
    margin-bottom: 25px;
  }
}

.recommended-fix-title {
  line-height: 1.7;
  font-size: 1.5rem;
}

.recoomended-username-desktop {
  display: none;
}

.trust {
  margin-left: 20px;
  color: #f27415;
}
.title {
  font-size: 1.9rem;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 600;
  padding-right: 50px;
  display: inline-block;
  color: #f27415;
}
.amount-and-user {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
}

.recommended-desktop {
  display: none;
}

.recommended-mobile {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  i,
  small {
    font-size: 1.2rem;
  }
}
.fix-amount-green {
  color: #5aba79;
  font-weight: bold;
  font-size: 1.7rem;
}

.recommended-username-desktop {
  display: none;
}
.fix-rating {
  margin-left: 20px;
  font-size: 1.4rem;
}
.username-and-date {
  a,
  span {
    font-size: 1.1rem;
  }
  a {
    color: #98a8e4;
    &:hover {
      text-decoration: underline;
    }
  }
}

.duration-and-rating-trust,
.fix-username-and-presence {
  margin-top: 9px;
  display: inline-block;
  i,
  span {
    font-size: 1.2rem;
  }
}

.hide {
  display: none;
}

.orange {
  color: #f27415;
}
.description {
  padding-right: 50px;
  margin-bottom: 15px;
  font-size: 1.6rem;
}
.request-meta {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 20px;
  padding-right: 55px;
  margin-bottom: 35px;

  & > div:nth-child(2) {
    text-align: right;
    font-size: 1.1rem;
    color: #fe1b1b;
    i {
      margin-right: 3px;
      color: #fe1b1b;
      font-size: 1.1rem;
    }
  }
}

.duration {
  font-size: 1.2rem;
  margin-bottom: 7px;
}
.amount {
  font-size: 2.3rem;
  font-weight: bolder;
}
