.back-btn{
    padding: 8px 12px;
    font-size: 1.4rem;
    width: fit-content;
    border: 1px solid #36b9cc;
    border-radius: 6px;
    margin-bottom: 8px;
    i{
        font-size: 1.6rem;
    }
}

.order-top-grid{
    border: 1px solid #ddd;
    padding: 10px 30px 20px 10px;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 60px;
    column-gap: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    img{
        object-fit: cover;
        height: 100%;
    }
    .fix-title{
        font-size: 1.5rem;
        line-height: 1.4;
    }
}
.order-fix-meta{
    font-size: 1.4rem;
    display: flex;
    div:first-child{
        margin: 0px 30px 0px 0px;
    }

    i{
        font-size: 1.4rem;
    }
}

#order-purchase-btn{
    background: #f27415;
    color: white;
    border: 1px solid #f27415;
    font-size: 1.5rem;
}
.promo-apply{
    display: inline-block;
    width: fit-content;
    padding: 6px 10px;
}
.promo-input{
    padding: 7px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;

}

.order-fix-main{
    display: flex;
    justify-content: center;
    &>div{
        max-width: 600px;
        flex: 1;
    }
    

}

.get-help{
    padding: 20px 0px 20px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tips{
    h2{
        font-weight: bold;
        margin-bottom: 10px;
    }
    li{
        margin-bottom: 10px;
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

.order-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}