.request-status-alert{
    background: #FCFAE4;
    border: 1px solid  #F2C437;
    border-radius: 6px;
    padding: 13px 10px;

}



.request-title{
    padding: 20px 15px;
    font-size: 2.4rem;
    color: white;
    margin-top: 0px;

}

.the-request-meta{
    padding: 15px 10px;
    i.fas{
        font-size: 1.6rem;
    }
}
.request-description{
    padding: 20px 10px 50px 10px;
}

.close-request{
    margin-top: 10px;
    border: 1px solid red;
    padding: 6px 10px;
    color: red;
    background: white;
    border-radius: 30px;
    font-size: 1.15rem;
    outline: none;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    padding: 20px 10px;
    column-gap: 15px;
}